body { 
Background-color: cornflowerblue;
text-align: center;
border-radius: 25px;
padding-top: 100px;
padding-bottom: 300px;
border: 200px;
border-style: dotted; 
border-color: white;

}

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 3px;
   
  }
  
  .navigation  li.logo {
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
  }

#banner {
    margin: auto;
    background-image: ("https://images.app.goo.gl/Hxw6CKiYehjYyVZf9");
    background-size: cover;
    background-position:
    bottom center;
    width: 50%;
   
    
} 
  
#banner .content h1 {
    position: relative;
    margin: 0 auto; 

  }  
 
h1 {
color: #ECB158;
font-family: Georgia;
font-size: 2em;
padding-top: 10px;
text-align: center;
}


h2 { 
  color: #ECB158;
}

h3 { 
color: #0081CA;
}
   
.logo {
    width: 300px;
}

.submission {
    width 800px;
}
  